@{
    ViewData["Title"] = "Home Page";
}
<body>
    <br />
    <h3>My hobby is reading Jane Austen</h3>
    <br />
    <img src="~/img/pride&prejudice.jpeg" height="300"/>
    <img src="~/img/s&s.jpg" height="300"/>
    <br /> <br />
    <p>I love reading Jane Austen because her wit and humor is spectacular, and all of her heroines are likeable and headstrong
        Austen's novels offer timeless insights into human nature, relationships, and societal norms for British women in the 19th century.
    </p>
    <p>
        The movie adaptations are also great for those who don't like reading, however
        the BBC version of Pride & Prejudice is much better than the 2005 version. I will take no criticism or notes on this.
    </p>
</body>



